.nav-bar{
    background: #ffcc00;
    color: #4b3013;
    font-size: 2rem;
    padding:0.5rem 2rem;
}

.main-body{
    display: flex;
    padding:0rem 2rem;
    background: #5c381f;
    height: 90vh;

}

.main-body .todo-list{
    flex-grow: 9;
}

.section-body{
    margin: 0px;
}
.heading{
    margin: 0px;
}

section{
    padding:  0.5rem;
}

section h2{
    color: darkgray;
}

